node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage/
.nyc_output/
prisma/generated/
backend/uploads/*
!backend/uploads/.gitkeep

gh-vars.env
/scripts
docs/deploy-cloudrun.md
